.auth-section{
   background-image: url(../assets/hero.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 1em ;
   border-radius: 10px;
}

.form-container{
    background-color: white;
    margin: 1em;
    border-radius: 10px;
    padding: 1em;
    height: 100%;
    box-shadow: 1px 1px 10em rgba(203, 203, 203, 0.338);
}

@media(max-width:900px){
    .auth-section{
        display: flex;
        justify-content: center;
    }
}