@import "tailwindcss";

@layer components{
    .nav-hover{
      @apply **:hover:underline decoration-1;
    }
}

@layer base{
  a{
    text-decoration: none;
    background-color: rgb(240, 240, 240);
    color: rgb(43, 43, 43);
  }
}

/* ========== HEADER  SECTION    ======== */
/* ========== HERO SECTION       ============= */
/*=========== ABOUT US SECTION   =================== */
/* ========== CALL TO ACTION SECTION  ====================== */

.cta-textual-content{
  margin: 3em;
}

.cta-textual-content span{
  min-width:  10em;
}

.cta-textual-content h2{
  font-size: 2em;
  margin: 1em 0em 0.35em 0em;
}

.cta-textual-content p{
  color: gray;
}

.form-container{
  background-color: white;
  border-radius: 10px;
  margin: 1rem;
  height: 100%;
  color: rgb(26, 26, 26);
  width: 30rem;
}
.form{
  /* background-color: rgb(255, 255, 255); */
  margin: 1em;
  height: 100%;
}

.form-group{
  margin: 2em 0em;
}

textarea,
.form-container input{
  border: 1px solid gray;
  padding: 6px;
  border-radius: 5px;
  width: 100%;
  margin-top: 7px;
}

textarea {
  min-height: 5em;
  max-height: 15em;
}

/* EXPLORE SECTION */

/* TOP PICK SECTION */

/* FOOTER SECTION */


@media(max-width:900px){
    header nav{
      display: none;
    }

    .cta-textual-content p{
        text-align: center;
    }

    .contact-section{
      display: flex;
      justify-content: center;
    }

    .cta-home-container{
      flex-direction: column;
    }
}

@media(max-width:900px){
  
footer{
  flex-direction: column;
}
}

