@import "tailwindcss";

:root{
  background-color: rgb(240, 240, 240);
  color: rgb(43, 43, 43);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section{
  margin: 2em 1em;
  min-height: 60vh;
}

button{
  padding: 5px;
width: 10rem;
}



/* ==========  HEADER  SECTION  ========*/
header{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  background-color: black;
  color: white;
}

header nav {
  display: flex;
  gap: 3em;
}

header .logo{
  font-size: 1em;
}

header nav  ul{
  display: flex;
  list-style-type: none;
  gap: 2em;
}

header nav hr{
  color: green;
  margin-top: 0.4em;
}

header nav  ul a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}



/* HERO SECTION */
.hero-section{
  background-color: gainsboro;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  /* background-image: linear-gradient( rgba(255, 255, 255, 0.116), rgba(0, 98, 255, 0.091)), url(.. /assets/hero.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  min-height: 85vh;
  color: rgb(35, 35, 35);
}

.hero-section h1{
   font-size: 2.1rem;
}


.hero-filter-container{
  /* display: flex; */
  background-color: rgba(227, 227, 227, 0.064);
  backdrop-filter: blur(5px);
  padding: 1em;
  border-radius: 10px;
  position: relative;
  margin-top: 11rem;
  border: 1px solid dodgerblue;
  color: white;
}

.hero-filter-header{
  display: flex;
  justify-content: space-between;
}

.hero-filter-header img{
  width: 100%;
  height: auto;
  max-width: 10rem;
}

.hero-filter-container .filter-sections{
  display: flex;
  justify-content: space-between;
}


/*============== ABOUT US SECTION =================== */

.about-us-text-content{
  text-align: center;
  margin-top: 5em;
}

.about-carosel-section{
    min-height: 50vh;
    border-radius: 10px;
    background-color: gray;
    width: auto;
    margin: 11em 0em;
}

@media(max-width:900px){
    header nav{
      display: none;
    }
}


