@import "tailwindcss";

@layer components{
    .nav-hover{
      @apply hover:underline decoration-1;
    }
}

:root{
  background-color: rgb(240, 240, 240);
  color: rgb(43, 43, 43);
}

a{
  text-decoration: none;
}

/* ==========  HEADER  SECTION  ======== */

/* ========== HERO SECTION ============= */
.hero-filter-container{
  background-color: rgba(227, 227, 227, 0.064);
  backdrop-filter: blur(5px);
  padding: 1em;
  border-radius: 10px;
  position: relative;
  margin-top: 11rem;
  border: 1px solid dodgerblue;
  color: white;
}

.hero-filter-header{
  display: flex;
  justify-content: space-between;
}

.hero-filter-header img{
  width: 100%;
  height: auto;
  max-width: 10rem;
}

.hero-filter-container .filter-sections{
  display: flex;
  justify-content: space-between;
}


/*============== ABOUT US SECTION =================== */

/* ============ CALL TO ACTION SECTION====================== */

.cta-textual-content{
  margin: 3em;
}

.cta-textual-content span{
  min-width:  10em;
}

.cta-textual-content h2{
  font-size: 2em;
  margin: 1em 0em 0.35em 0em;
}

.cta-textual-content p{
  color: gray;
}

.form-container{
  background-color: white;
  border-radius: 10px;
  margin: 1rem;
  height: 100%;
  color: rgb(26, 26, 26);
  width: 30rem;
}
.form{
  /* background-color: rgb(255, 255, 255); */
  margin: 1em;
  height: 100%;
}

.form-group{
  margin: 2em 0em;
}

textarea,
.form-container input{
  border: 1px solid gray;
  padding: 6px;
  border-radius: 5px;
  width: 100%;
  margin-top: 7px;
}

textarea {
  min-height: 5em;
  max-height: 15em;
}

/* EXPLORE SECTION */

.explore-container{
  padding: 1em;
}


.explore-homes-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* TOP PICK SECTION */
.top-pick-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 4em 0em;
}

/* FOOTER SECTION */


@media(max-width:900px){
    header nav{
      display: none;
    }

    .cta-textual-content p{
        text-align: center;
    }

    .contact-section{
      display: flex;
      justify-content: center;
    }

    .cta-home-container{
      flex-direction: column;
    }
}

@media(max-width:900px){
  
footer{
  flex-direction: column;
}
}

